.option{
    margin-bottom: 20px;
    width: 400px;
    height: 35px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
    display: grid;
    grid-template-columns: 7fr 2fr;
}
.option input{
    padding-left: 5px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    outline: none;
}
.option section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
}
.option-button{
    color: red;
    font-size: x-large;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(243, 243, 243);
    outline: none;
}
.option-button:hover{
    background-color: rgb(221, 221, 221);
}
.option-button:focus{
    outline: 1px solid blue;
}
.option-button:active{
    background-color: rgb(243, 243, 243);
}